{% extends 'searchBook/base.html' %}

{% block content %}
<h3 style="text-align:center; font-size:40px; margin:20px">Just type something to search!</h3>
<input class="form-control" id="input" placeholder="Search here!">
<div id="isi">
</div>
{% endblock content %}

{% block script %}

<script>
$("#input").keyup(function(){
    var input_kata = $("#input").val();
    console.log(input_kata);
    $.ajax({
        url : "/story8/data?q=" + input_kata,
        success : function(data){
            var array_list = data.items;
            console.log(array_list);
            $("#isi").empty();
            if(input_kata!=""){
                for (i = 0; i < array_list.length; i++){
                    judul = array_list[i].volumeInfo.title;
                    author_buku = array_list[i].volumeInfo.authors;
                    url_img = array_list[i].volumeInfo.imageLinks.thumbnail;
                    desc = array_list[i].volumeInfo.description;
                    if(author_buku==undefined){
                        author_buku = 'unknown'
                    }
                    if(desc == undefined){
                        desc = 'Currently there is no description'
                    }

                    //console.log(judul);
                    $("#isi").append(
                        "<div class='bg-custom2 d-flex flex-column container'> <h3>" 
                        + judul + "</h3> <p>" 
                        + author_buku + "</p> <div class='row col-12'> <div class='image col-lg-3'> <img src=" +url_img+ " alt='notfound'>"
                        + " </div><div  class='col-lg-9 temp'><p style='text-align:left'>"+desc +"</p> </div></div></div>"

                    )
                }
            }
            else {
                $("#isi").append(
                    "<div class='bg-custom2'>" +
                        "<h3>Search something :D</h3>" +
                    "</div>"
                )
            }
        }
    })
})
</script>

{% endblock script %}


