{% extends 'blog_jadwal/base.html' %}

{% block content %}
    <p class="pt-2 pb-3">Created by Nadya Aprillia</p>
    <p>Web ini untuk membuat jadwal, bisa login juga kalau iseng tetapi data jadwal masih bisa dilihat semua orang :')
    Tujuan utama tetap menyelesaikan tugas story PPW yang ke-5 walaupun belum maksimal, tetapi saya banyak belajar dari
    pembuatan web ini. Adapun teman yang juga membantu saya dalam memberi tips ketika gagal deploy website ini ke heroku 
    and I'm really thankful for that. Dalam web ini, saya banyak menggunakan bootstrap untuk mempercepat proses pengerjaan 
    ("Dikejar deadline") dan menggunakan template dari django seperti DetailView, ListView, dan sebagainya. Permasalahan saat 
    deploy juga terselesaikan dengan pip freeze :)
    </p>
{% endblock content %}