<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% if title %}
        <title>Jadwal Kuliah - {{ title }}</title>    
    {% else %}
        <title > Jadwal Kuliah</title>
    {% endif %}
    </head>
    <nav class="navbar navbar-expand-lg bg-custom navbar-dark">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog_jadwal:home' %}">Jadwal Kuliah</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_jadwal:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_jadwal:jadwal-form' %}">Add Jadwal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story6:index' %}">Story 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'story6:add_kegiatan' %}">Add Kegiatan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_jadwal:sayhi' %}">Say Hi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'searchBook:home' %}">Search Book</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="#">{{user.username}}</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user:logout' %}">Log Out</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'user:register' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:login' %}">Log In</a>
          </li>
        {% endif %}
          
      </ul>
    </nav>

  <body>
  
  <div class="container pt-5">
    <h1><u>{{ subtitle }}</u></h1>
   <div class='row' style='text-align: center'> 
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
  </div>
      <div class="backgroundimg">
    </div>
    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> {% endcomment %}
    

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS-->
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </body>

</html>