{% extends 'blog_jadwal/base.html' %}

{% block content %}
    <h1 class= "pb-4" style="text-align:center"><u>Jadwal Kuliah</u></h1>
    <table class= "table table-striped">
    <thead>
     <tr>
        <th>Mata Kuliah</th>
        <th>SKS</th>
        <th>Hari</th>
        <th>Jam</th>
        <th>Description</th>
     </tr>
    </thead>
    <tbody>
    {% for jadwal in jadwals %}
    <tr>
        <th>{{ jadwal.name }}</th>
        <th>{{ jadwal.sks }} SKS</th>
        <th>{{ jadwal.day }}</th>
        <th>{{ jadwal.time }}</th>
        <th><a href = "{% url 'blog_jadwal:jadwal-detail' jadwal.id %}">See in details</a></th>
    </tr>
    {% empty %}
        <p style = "text-align:center">Belum ditambahkan</p>
    {% endfor %}
    </tbody>
    </table>
    <button type="button" class="btn btn-custom position-button"><a href="{% url 'blog_jadwal:jadwal-form'%}">Add</a></button>
{% endblock content %}
