{% extends 'blog_jadwal/base.html' %}
{% block content %}
<h1 class= "pb-4 "><u>Details</u></h1>
    <h2>{{ jadwal.name }}</h2>
    <p>At {{ jadwal.day }}, around {{jadwal.time}}</p>
    <p>Mempunyai {{ jadwal.sks }} SKS<p>
    <p>{{ jadwal.description }}</p>

<button type="button" class="btn btn-light ">
<a href="{% url 'blog_jadwal:jadwal-update' pk=jadwal.id %}">Update</a>
</button>
<button type="button" class="btn btn-light ">
<a href="{% url 'blog_jadwal:jadwal-delete' pk=jadwal.id %}">Delete</a>
</button>

{% endblock content %}
