{% extends 'blog_jadwal/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Tambahkan/Edit jadwal</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark bg-custom" type="submit">Apply Change</button>
            </div>
        </form>
    </div>
{% endblock content %}