{% extends "blog_jadwal/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Jadwal</legend>
                <h2>Yakin mau hapus jadwal "{{ object.name }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'blog_jadwal:jadwal-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}