{% extends 'blog_jadwal/base.html' %}

{% block content %}
    <h1>Hi 
    {% if user.is_authenticated %}
    {{user.username}}
    {% else %}
    Anonim
    {% endif %}
    !</h1>

    <div class="container">
        <p>How's your day?</p>
        <p>Note that this web page "Say Hi" only for testing user authentication UwU</p>
        <img class="sayhi" src="https://files.catbox.moe/x3f3br.jpg"></img>
    </div>


{% endblock content %}