{% extends 'blog_jadwal/base.html' %}
{% load static %}
{% block content %}
<h1>Hello</h1>
<div id="accordion" style="height:auto">
  <h3  class="accordion-tab">
  What am i doing?
  <span class="float-right down" id="down">Down</span>
  <span class="float-right up" id="up">Up</span>
  </h3>
  
  <div class="con">
    <ul>
      <li>Studying Computer Science in Universitas Indonesia.</li>
      <li>Playing genshin impact</li>
      <li>Self learning</li>
    </ul>
  </div>
  
  <h3  class="accordion-tab">
  Play Genshin Impact?
  <span class="float-right down" id="down">Down</span>
  <span class="float-right up" id="up">Up</span>
  </h3>
  
  <div  class="con">
    <p>
    Chat me at line (id = nat_pinat) for my ID :)
    </p>
  </div>
  
  <h3  class="accordion-tab">
  Contact Info
  <span class="float-right down" id="down">Down</span>
  <span class="float-right up" id="up">Up</span>
  </h3>
  
  <div  class="con">
    <p>
    Here's my Contact
    </p>
    <ul>
      <li>Line : nat_pinat</li>
      <li>Instagram : natpinat</li>
      <li>LinkedIn : https://www.linkedin.com/in/nadya-aprillia-0107391a2/</li>
    </ul>
  </div>

  <h3  class="accordion-tab">
  Hobbies
  <span class="float-right down" id="down">Down</span>
  <span class="float-right up" id="up" >Up</span>
  </h3>
  
  <div class="con">
    <ul>
      <li>Travelling</li>
      <li>Gaming</li>
      <li>Eating</li>
      <li>Reading novels/comics</li>
    </ul>
  </div>
  
  <h3  class="accordion-tab">
  Favorite food
  <span class="float-right down" id="down">Down</span>
  <span class="float-right up" id="up" >Up</span>
  </h3>
  
  <div class="con">
    <ul>
      <li>Lasagna</li>
      <li>Pizza</li>
      <li>Takoyaki</li>
      <li>Hometown related food</li>
      <li>Cheese related food</li>
      <li>Anything fried + mayo or salted egg</li>
      <li>Udon & Ramen</li>
      <li>etc</li>
    </ul>
  </div>
</div>
{% endblock content %}