{% extends 'blog_jadwal/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{% url 'story6:add_kegiatan' %}">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Tambahkan Kegiatan</legend>
                {{ kegiatan_forms }}                
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark bg-custom" type="submit">Add</button>
            </div>
        </form>
    </div>
{% endblock content %}