{% extends 'blog_jadwal/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2 class = "border-bottom mb-4">{{ kegiatan.nama_kegiatan }}</h2>
    <ul>
    {% for orang in kegiatan.nama_orang.all  %}
        <li><a href="{{orang.get_absolute_url}}">{{ orang.nama_orang}}</a></li>
    {% empty %}
        <p style = "text-align:center">Belum ditambahkan</p>
    {% endfor %}
    </ul>   
    <div class="content-section">
        <form method="POST" action="{% url 'story6:add_participant' id=kegiatan.id %}">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-top mb-4">Add Participant</legend>
                {{ form|crispy }}
                {{orang_form}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark bg-custom" type="submit">Apply Change</button>
            </div>
        </form>
        <form method="POST" action="{% url "story6:delete" id=kegiatan.id %}">
        {% csrf_token %}
            <button class="btn btn-danger" type="submit" >Delete</button>
        </form>
    </div>
{% endblock content %}