{% extends 'blog_jadwal/base.html' %}


{% block content %}
    <h2 class = "border-bottom mb-4">{{ orang.nama_orang }}</h2>
    <ul>
    {% for kegiatan in orang.kegiatan_set.all  %}
        <form method='POST' action= "{% url 'story6:delete_participant' nama=orang.nama_orang id=kegiatan.id %}">
        {% csrf_token %}
        <li>{{ kegiatan.nama_kegiatan }}<button class="inline btn-danger" value='orang.nama_orang' type="submit">Leave</button></li>
        </form>
    {% empty %}
        <p style = "text-align:center">Belum ada kegiatan</p>
    {% endfor %}
    </ul>   
    <div class="content-section">
    </div>

{% endblock content %}