{% extends 'blog_jadwal/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h1 class= "pb-4" style="text-align:center">Kegiatan</h1>
<div class="card-columns">

{% for kegiatan in kegiatan_obj %}
<div class="card bg-custom2 card-body text-center">
    <h2 class = "border-bottom mb-4"><a href="{% url 'story6:detail_kegiatan' nama=kegiatan.nama_kegiatan %}">{{ kegiatan.nama_kegiatan }}</a></h2>
    <ul>
    {% for orang in kegiatan.nama_orang.all  %}
        <li class= "text-justify">{{ orang.nama_orang}}</li>
    {% endfor %}

    </ul>   
    <div class="content-section">
        <form method="POST" action="{% url 'story6:add_participant' id=kegiatan.id %}">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend>Add Participant</legend>
                {{ form|crispy }}
                {{orang_form}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark bg-custom" type="submit">Apply Change</button>
            </div>
        </form>
    </div>
</div>
    {% empty %}
        <p style = "text-align:center">Belum ditambahkan</p>
{% endfor %}

</div>
{% endblock content %}