body {
    background-color: rgb(234, 237, 255);
}
.backgroundimg {
    background-image: url(https://files.catbox.moe/9u8i47.jpg);
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; 
}

.bg-custom {
    background-color: rgba(32, 8, 54, 0.816);
}

.bg-custom2 {
    background-color: rgba(59, 9, 105, 0.108);
}

.ml-auto{
    left: auto !important;
    right: 0px;
}
.table-striped {
    background-color: rgba(203, 194, 255, 0.884);
}
tbody th{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.position-button {
    z-index: 1;
    background-color: rgb(34, 14, 84);
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.btn-custom {
    color: rgb(197, 190, 245);
}

.btn-custom2 {
    color: rgb(228, 149, 149);
}

.card {
    padding: 50px;
    border-radius: 10px;
    background-color: rgba(0, 0, 139, 0.666);
}

#accordion {
    background-color: rgb(247, 239, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  #accordion h3:hover {
    background-color: rgb(60, 36, 63);
    color: rgb(230, 230, 230);
  }
  
span {
    color: rgb(176, 148, 187);
    font-size: 18px;
    margin: 10px;

}
h3 {
    background-color: rgb(233, 212, 240);
    line-height:2 !important;
}

div.con {
    padding: 20px;
}
#up {
    z-index: 3;
}
#down {
    z-index: 3;
}

img.sayhi {
    width: inherit;
}