body {
    background-color: rgba(227, 248, 246, 0.66);
}
.backgroundimg {
    background-image: url(https://files.catbox.moe/9u8i47.jpg);
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1; 
}

.bg-custom {
    background-color: rgba(8, 54, 43, 0.816);
}

.ml-auto{
    left: auto !important;
    right: 0px;
}

.bg-custom2 {
    background-color: rgba(21, 129, 104, 0.816);
    padding: 40px;
    border-radius: 25px;
    width: 100%;
    color: rgb(195, 246, 234);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: auto;
}

.bg-custom2 h3 {
    text-align: center;
    font-weight: 700;
}
.bg-custom2 p{
    text-align: center;
}

.temp{
    background-color: rgb(187, 236, 225);
    border-radius: 20px;
    padding: 20px;
    color:rgb(63, 81, 77) ;
}

.image {
    display: block;
    position: relative;
}
