{% extends 'blog_jadwal/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark bg-custom" type="submit">Log in</button>
            </div>
        </form>
        <div class ="border-top pt3">
            <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'user:register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}