{% extends 'blog_jadwal/base.html' %}
{% block content %}
<h2>Done Log Out</h2>
    <div class="content-section">
        <div class ="border-top pt3">
                Login again<a class="ml-2" href="{% url 'user:login' %}">here</a>
        </div>
    </div>
{% endblock content %}